.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */
.comment-list-item{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #475569;
}
.user-name-container{
display: flex;
flex-direction: row;

}
.name-con{
   display: flex;
   flex-direction: row;

}
.comment{
    align-self: flex-start;
}
/* .name-and-time{
display: flex;
flex-direction: column;
justify-content: flex-start;    
} */
.logo{
    font-size: 25px;
    font-family: "Roboto";
    text-align: center;
    color: #ffffff;
    padding: 5px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.name{
    font-size: 20px;
    font-family: "Roboto";
    text-align: center;
    color: #1e293b;
    padding-left: 10px;
    /* margin-bottom: 0px; */

}
.comment{
    font-size: 15px;
    font-family: "Roboto";
    padding-left: 10px;
    margin-top: 5px;
    color: #475569;
    padding-bottom: 0px;

}
.comment-time{
    font-size: 12px;
    font-family: "Roboto";
    text-align: center;
    align-self: center;
    color: #cbd2d9;
    padding-left: 20px;
    font-weight: 500;
}
.icons-con{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon-button{
    background-color: transparent;
    border: none;
    padding: 5px;
    margin-left: 10x;
    font-size: 17px;
    text-align: center;
}
.like-text{
    align-self: flex-start;
}
.icon{
    height: 25px;
    width: 25px;
}
.like-text{
    font-size: 15px;
    font-family: "Roboto";
    padding-left: 10px;
    color: #475569;
    padding-bottom: 10px;
    align-self: flex-start;
}
.liked-color{
    color: #0ea5e9;
}
